<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${user}" action="/user/edit" method="post">

		<input name="id" type="hidden" th:value="${user.id}"><br>
		<div>
			<label for="name">Name:</label> 
			<input name="name" th:value="${user.name}"/>
		</div>
		<div>
			<label for="username">User Name:</label> 
			<input name="username" th:value="${user.username}"/>
		</div>
		<div>
			<label for="password">Password:</label> 
			<input name="password" th:value="${user.password}"/>
		</div>
		<div>
			<label for="email">Email:</label> 
			<input type="email" name="email" th:value="${user.email}"/>
		</div>
		<div>
			<label>Roles: </label>
			<input type="checkbox" name="roles" th:value="ROLES_ADMIN">
			<input type="checkbox" name="roles" th:value="ROLES_MEMBER">
			<input type="checkbox" name="roles" th:value="ROLES_SELLER">
			<input type="checkbox" name="roles" th:value="ROLES_CUSTOMER">
		</div>
		<button type="submit">Save</button>

	</form>
</body>
</html>