<!DOCTYPE html>
<html layout:decorate="template.html">
<head >
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color:blue;
      padding: 25px;
    }
  </style>
<title>USER VIEW</title>
</head>
<body layout:fragment="body">
	<div class="jumbotron">
  <div class="container text-center" >
    <h1>HỆ THỐNG QUẢN LÝ NGƯỜI DÙNG</h1>      
  </div>
</div>
		<a th:href="@{/user/create}" class="btn btn-primary">Create</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>USER NAME</th>
					<th>PASSWORD</th>
					<th>EMAIL</th>
					<th>ROLES</th>
					<th>OTHER</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${userList}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.password}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.roles}"></td>
					<td>
						<a th:href="@{'/user/edit?id=' + ${user.id}}" class="btn btn-primary">Edit</a>
						<a th:href="@{'/user/delete?id=' + ${user.id}}" class="btn btn-primary">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
</body>
</html>