<!DOCTYPE html>
<html layout:decorate="template.html">
<head>
<meta charset="UTF-8">
<title>PRODUCT VIEW</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body layout:fragment="body">
	<form action="${/product/search}" method="post">
	<a th:href="@{/product/create}" class="btn btn-info">Create</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>PRICE</th>
				<th>DESCRIPTION</th>
				<th>IMAGE</th>
				<th>CATEGORY</th>
				<th>Other</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${productList}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.description}"></td>
				<td ><img id="img" style="width: 300px;"
		  			 th:src="@{'/product/download-file?image='+${product.image}}" width="300"></td>
				<td th:text="${product.category.name}"> </td>
				<td>
					<a th:href="@{'/product/edit?id='+${product.id}}" class="btn btn-info">EDIT</a>
					<a th:href="@{'/product/delete?id='+${product.id}}" class="btn btn-info">DELETE</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>